<component name="ArtifactManager">
    <artifact type="exploded-war" name="StudentDatabaseApp:war exploded">
        <output-path>$PROJECT_DIR$/target/Servlets-1.0-SNAPSHOT</output-path>
        <properties id="maven-jee-properties">
            <options>
                <exploded>true</exploded>
                <module>Servlets</module>
                <packaging>war</packaging>
            </options>
        </properties>
        <root id="root">
            <element id="directory" name="WEB-INF">
                <element id="directory" name="classes">
                    <element id="module-output" name="StudentDatabaseApp" />
                </element>
                <element id="directory" name="lib">
                    <element id="library" level="project" name="Maven: org.jetbrains:annotations:21.0.1" />
                </element>
            </element>
            <element id="directory" name="META-INF">
                <element id="file-copy" path="$PROJECT_DIR$/target/StudentDatabaseApp-1.0-SNAPSHOT/META-INF/MANIFEST.MF" />
            </element>
            <element id="javaee-facet-resources" facet="StudentDatabaseApp/web/Web" />
        </root>
    </artifact>
</component>
